@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Unbounded&display=swap');

:root {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {margin: 0; height: 100%; overflow: hidden}

body {
  display: flex;
}

.banner {
  background-color: rgba(41, 39, 54, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2rem;
  top: 20vh;
  padding: 2rem;
}

.banner h1 {
  font-family: 'Unbounded', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

em {
  color: rgb(252, 200, 121);
}

.background {
  background-image: url(./assets/left-background.jpg);
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 35vw;
  height: 100vh;
  color: white;
}

.right-panel {
  background-color: #292736;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
  height: 100vh;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0rem 0rem 0rem 4rem;
  padding-right: 15rem;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  border: none;
  padding: 1rem 0rem;
  width: 100%;
}

legend {
  font-size: 1.5rem;
}

col {
  margin: 2rem;
}

label {
  color: #bbd2ff;
  display: block;
  margin: 0.2rem 0;
  font-size: 0.7rem;
  letter-spacing: 3px;
}

input {
  outline: 1px solid rgb(27, 25, 36);
  background-color: rgb(91, 91, 112);
  border: 0px #9b9da1;
  width: 130%;
  height: 18%;
  border-radius: 3px;
  margin-bottom: 1rem;
}

input:focus {
  outline: 1px solid rgb(255, 132, 50);
  box-shadow: 3px 3px 5px rgb(31, 31, 31);
  box-sizing: border-box;
}

hr {
  margin-top: 2rem;
}

button {
  font-size: 1rem;
  background-color: rgb(255, 169, 70);
  padding: 1rem;
  width: 30%;
  border-radius: 7px;
  outline: none;
  border: 0px solid transparent;
  margin-bottom: 15px;
}

button:hover {
  background-color: rgb(255, 200, 138);
  cursor: pointer;
  transition: 0.5s;
}

#login {
  color: rgb(252, 200, 121);
}

#login:hover {
  color: rgb(255, 153, 0);
}

footer {
  margin-top: -5px;
}

.error {
  outline: 1px solid rgb(255, 64, 50);
}

#no-match {
  color: rgb(255, 52, 52);
  font-size: 10px;
}